h2{
  padding: inherit;
  text-align: center;
  display: block;
  color: white;
}
:host{
  display: block;
  justify-content: center;
  margin: 100px 0;

}
.mat-form-field{
  width: 100%;
  min-width: 300px;
}
mat-card-title,
mat-card-content{
  display: flex;
  justify-content: center;

}
button{
  width: 100%;
}
