<!-- CITAS -->
<!-- Esta aplicación despliega dos layouts disintos en función de si el usuario es doctor o un usuario normal -->
<div *ngIf="this.doctor; else userpage">
    <!-- Comprueba que hay citas para ese usuario -->
    <div class="container" *ngIf="citasDoctor$ | async as dcita; else loading">
        <!-- Despliega la cabecera de la página -->
        <div class="profile">
            <h1>Tus citas</h1>
            <img [src]="currentImage" alt=""/>
            <h2>Tus próximas citas:</h2>
        </div>
        <!-- Despliega las citas correspondientes al usuario -->
        <ng-container *ngIf="dcita.length>0; else empty">
            <mat-card class="cita-card" *ngFor="let c of dcita">
                <mat-card-header>
                    <mat-icon mat-card-avatar>local_hospital</mat-icon>
                    <mat-card-title>{{c.consulta}}</mat-card-title>
                    <mat-card-subtitle style="font-weight: bold;">{{c.date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="font-weight: bold;">Detalles del paciente:</p>
                    <p>{{c.detalles}}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <!--  Se despliegan botones con distintas opciones del usuario -->
        <h2>Opciones:</h2>
        <div class="div-button">
            <div class="cita-button" >
                <button mat-flat-button>
                    <p>Calendario Completo</p>
                    <mat-icon>today</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- El layout del usuario normal es igual en estructura al anterior -->
<ng-template #userpage>
    <div class="container" *ngIf="citasUser$ | async as cita; else loading">
    
        <div class="profile">
            <h1>Tus citas</h1>
            <img [src]="currentImage" alt=""/>
            <h2>Tus próximas citas:</h2>
        </div>
    
        <ng-container *ngIf="cita.length>0; else empty">
            <mat-card class="cita-card" *ngFor="let c of cita">
                <mat-card-header>
                    <mat-icon mat-card-avatar>local_hospital</mat-icon>
                    <mat-card-title>{{c.consulta}}</mat-card-title>
                    <mat-card-subtitle style="font-weight: bold;">{{c.date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Consulta con la doctora {{c.doctor}}</p>
                    <mat-icon >room</mat-icon>
                    <p style="font-weight: bold; width: 80%; display: inline-block; margin: 0; height: 32px; vertical-align: middle;">
                        {{c.centro}}
                    </p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    
        <h2>Opciones:</h2>
        <div class="div-button">
            <div class="cita-button" >
                <button mat-flat-button routerLink="/citas/new-cita">
                    <p>Nueva consulta</p>
                    <mat-icon>post_add</mat-icon>
                </button>
                <button mat-flat-button>
                    <p>Calendario Completo</p>
                    <mat-icon>today</mat-icon>
                </button>
            </div>
        </div>
    </div>
</ng-template>
<!-- Spinner para buffering -->
<ng-template #loading>
    <div class="container-spinner">
    <mat-spinner></mat-spinner>
    </div>
</ng-template>
<!-- En caso de que no haya citas, se despliega un mensaje avisando -->
<ng-template #empty>
  <mat-card class="empty">
      <mat-card-content>
          <p>No hay citas programadas</p>
      </mat-card-content>
  </mat-card>
</ng-template>
