<div class="container" *ngIf="citas$ | async as cita; else loading">
    <h1>Tus citas</h1>
    <h2>Tus próximas citas:</h2>
    <ng-container *ngIf="cita.length>0; else empty">
        <mat-card class="cita-card" *ngFor="let c of cita">
            <mat-card-header>
                <mat-card-title>{{c.consulta}}</mat-card-title>
                <mat-card-subtitle>{{c.date.toDate() | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Consulta con la doctora {{c.doctor}}</p>
                <p>{{c.centro}}</p>
            </mat-card-content>
        </mat-card> 
    </ng-container>
    
    <h2>Buscar servicios:</h2>  
    <div class="cita-button">
        <button mat-flat-button>Atención primaria
            <mat-icon>house</mat-icon>
        </button>
        <button mat-flat-button>Atención enfermería</button>
    </div>
    <div class="cita-button">
        <button mat-flat-button>Atención especializada</button>
        <button mat-flat-button>Atención online</button>
    </div>
</div>
<ng-template #loading>
    <div class="container-spinner">
    <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #empty>
    <p>NA DE NA</p>
</ng-template>
