<div class="container" *ngIf="avisos$ | async as avisos; else loading">
    <h1>Tus avisos</h1>
    <h2>Tienes un nuevo resultado:</h2>

    <ng-container *ngIf="avisos.length>0; else empty">
        <mat-card class="aviso-card">
            <mat-card-header>
                <mat-icon mat-card-avatar>how_to_reg</mat-icon>
                <mat-card-title>{{avisos[0].prueba}}</mat-card-title>
                <mat-card-subtitle>{{avisos[0].date.toDate() | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{avisos[0].description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">Ver resultados</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>

    <h2>Pruebas anteriores:</h2>
    <mat-selection-list class="aviso-list">
        <a mat-list-item *ngIf="avisos[1]!=undefined">
            <mat-icon mat-list-icon>drafts</mat-icon>
            <div mat-line>{{avisos[1].prueba}}</div>
            <div mat-line>{{avisos[1].date.toDate() | date}}</div>
        </a>
        <mat-divider *ngIf="avisos[1]!=undefined"></mat-divider>
        <a mat-list-item *ngIf="avisos[2]!=undefined">
            <mat-icon mat-list-icon>drafts</mat-icon>
            <div mat-line>{{avisos[2].prueba}}</div>
            <div mat-line>{{avisos[2].date.toDate() | date}}</div>
        </a>
        <mat-divider *ngIf="avisos[2]!=undefined"></mat-divider>
        <a mat-list-item *ngIf="avisos[3]!=undefined">
            <mat-icon mat-list-icon>drafts</mat-icon>
            <div mat-line>{{avisos[3].prueba}}</div>
            <div mat-line>{{avisos[3].date.toDate() | date}}</div>
        </a>
        <mat-divider *ngIf="avisos[3]!=undefined"></mat-divider>
        <a mat-list-item *ngIf="avisos[4]!=undefined">
            <mat-icon mat-list-icon>drafts</mat-icon>
            <div mat-line>{{avisos[4].prueba}}</div>
            <div mat-line>{{avisos[4].date.toDate() | date}}</div>
        </a>
        <mat-divider *ngIf="avisos[4]!=undefined"></mat-divider>
        <a mat-list-item>
            <mat-icon mat-list-icon></mat-icon>
            <div mat-line>Otros</div>
        </a>
    </mat-selection-list>
</div>

<ng-template #loading>
    <div class="container-spinner">
    <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #empty>
    <p>NA DE NA</p>
</ng-template>