<div class="container" *ngIf="posts$ | async as posts; else loading">
 
  <div class="profile">
    <h1>Actividad</h1>
    <img [src]="currentImage" alt=""/>
    <h2>Tu actividad hoy:</h2>
  </div>
  <div class="test">
    <mat-card class="post-card" *ngFor="let post of posts">
      <mat-card-header>
       <mat-card-title>
           <a>{{post.data}}</a>
       </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        {{post.contentPost}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="tabla">
  <app-table></app-table>
</div>
<ng-template #loading>
  <div class="container-spinner">
  <mat-spinner></mat-spinner>
  </div>
</ng-template>
