<div class="profile">
<h2>Ajustes</h2>
<img [src]="currentImage" alt=""/>
<h2>Tu resumen diario</h2>
</div>
<h3>Configuración del perfil</h3>
<mat-card class="card-ajustes">
  <mat-list>
  <mat-list-item>Foto del perfil</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Datos personales</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Enlazar redes sociales</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Dispositivos externo</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Hospitales guardados</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Registro de consultas</mat-list-item>
  </mat-list>
</mat-card>
<h3>Notificaciones</h3>
<mat-card class="card-notificaciones">
  <mat-list>
  <mat-list-item>Ajuste de notificaciones</mat-list-item>
  </mat-list>
</mat-card>
<h3>Ayuda</h3>
<mat-card class="card-ayuda">
  <mat-list>
  <mat-list-item>Soporte técnico</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Términos y condiciones</mat-list-item>
  </mat-list>
</mat-card>
