<!--Al igual que en container-app en este componente tenemos que implementar de nuevo el menu-->
<!--De manera que en este caso cogemos el tamaño del ancho de la pantalla con la funcion definida en el componente-->
<!--En el caso de dispositivos pequeños disponemos del mismo display de toolbar-->
<div class="display" *ngIf="screenWidth<959; else vertical">
<div class="menu">
<mat-toolbar>
     <a routerLink="/home" routerLinkActive="active">
       <span class="material-icons">face</span>
     </a>

     <a routerLink="/citas" routerLinkActive="active">
       <span class="material-icons">date_range</span>
     </a>

     <a routerLink="/avisos" routerLinkActive="active">
       <span class="material-icons">markunread_mailbox</span>
     </a>

     <a routerLink="/actividad" routerLinkActive="active">
       <span class="material-icons">wb_sunny</span>
     </a>

     <a routerLink="/about" routerLinkActive="active">
       <span class="material-icons">settings</span>
     </a>

</mat-toolbar>
</div>
<div class="container-responsive">
  <router-outlet></router-outlet>
</div>
</div>
<!--En caso de dispostivos más grandes disponemos del menu vertical-->
<!--Y el contenido se muestra a la derecha del menu-->
<ng-template #vertical>
<div class="verticalMenu">
  <h1>Helse</h1>
  <a routerLink="/home"  routerLinkActive="active">
    <span class="material-icons">face</span>
    <p class="text">Resumen</p>
  </a>
  <a routerLink="/citas" routerLinkActive="active">
    <span class="material-icons">date_range</span>
    <p class="text">Citas</p>
  </a>
  <a routerLink="/avisos" routerLinkActive="active" >
    <span class="material-icons">markunread_mailbox</span>
    <p class="text">Avisos</p>
  </a>
  <a routerLink="/actividad" routerLinkActive="active" >
    <span class="material-icons">wb_sunny</span>
    <p class="text">Actividad</p>
  </a>
  <a routerLink="/about"routerLinkActive="active" >
    <span class="material-icons">settings</span>
    <p class="text">Configuración</p>
  </a>
</div>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
</ng-template>
