.material-icons{
  color:#DE74A6;
  opacity: 90%;
  align-items: center;
  display: inline-flex;
  position: relative;
  margin: 20px;
}
.active {
  .material-icons{
  color: white;
  }
}
mat-toolbar{
  background-color: #D90066;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
@media screen and (max-width: 959px){
  mat-toolbar{
      background-color: #D90066;
      height: 3em;
  }
}
