<mat-toolbar>
  <a routerLink="/home" routerLinkActive="active">
    <span class="material-icons">face </span>
  </a>

  <a routerLink="/citas" routerLinkActive="active">
    <span class="material-icons">date_range</span>
  </a>

  <a routerLink="/admin" routerLinkActive="active" *ngIf="authSvc.userData$ |async">
    <button mat-button>Admin</button>
  </a>


  <a routerLink="/about" routerLinkActive="active">
    <button mat-button>About</button>
  </a>




  <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
    <button mat-button>Logout</button>
  </a>

<ng-template #showLogin>
  <a routerLink="/login" routerLinkActive="active">
    <button mat-button>Login</button>
  </a>
</ng-template>
</mat-toolbar>
