<mat-toolbar>
  <a routerLink="/home" routerLinkActive="active">
    <span class="material-icons">face</span>
  </a>

  <a routerLink="/citas" routerLinkActive="active">
    <span class="material-icons">date_range</span>
  </a>

  <a routerLink="/avisos" routerLinkActive="active">
    <span class="material-icons">markunread_mailbox</span>
  </a>

  <a routerLink="/admin/posts" routerLinkActive="active">
    <span class="material-icons">wb_sunny</span>
  </a>

  <a routerLink="/admin/profile" routerLinkActive="active" *ngIf="authSvc.userData$ |async">
    <span class="material-icons">settings</span>
  </a>

</mat-toolbar>
