<!-- NEW CITA -->
<div class="container">
    <!-- Despliega la cabecera de la página -->
    <div class="profile">
        <h1>Nueva cita</h1>
        <img [src]="currentImage" alt=""/>
    </div>
    <!-- Despliega un formulario para la creación de una nueva cita -->
    <form [formGroup]="newCitaForm" (ngSubmit)="addNewCita(newCitaForm.value)">
        <p> Consulta:
        <mat-form-field appearance="fill">
            <mat-label>Especifica consulta:</mat-label>
            <!-- Selector para la selección de consulta -->
            <mat-select form="newCitaForm" formControlName="consulta">
                <mat-option *ngFor="let consulta of consultas" [value]="consulta.value">
                  {{consulta.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </p>
        <p> Fecha y hora:
        <mat-form-field appearance="fill">
            <mat-label>Elige una fecha</mat-label>
            <input matInput type="datetime-local" formControlName="date">
        </mat-form-field>
        </p>
        <p> Centro:
        <mat-form-field appearance="fill">
            <mat-label>Centro</mat-label>
            <input matInput disabled placeholder="Centro" formControlName="centro">
        </mat-form-field>
        </p>
        <p> Detalles:
            <mat-form-field appearance="fill">
                <mat-label>Detalles:</mat-label>
                <input matInput placeholder="Detalles" formControlName="details">
            </mat-form-field>
        </p>
    </form>
    <!-- Botón que abre el diálogo para enviar el formulario -->
    <div class="container-button">
        <button mat-raised-button (click)="openDialog(newCitaForm.value)"  
                [disabled]="!newCitaForm.valid" color="primary">Guardar</button>
    </div>
</div>
