<!--POP UP para coger los datos añadidos a las actividades-->
<div class="new-post-container">
  <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
    <mat-form-field>
      <mat-label>Title </mat-label>
      <input matInput placeholder="Title post" formControlName="titlePost">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data </mat-label>
      <input matInput placeholder="Data post" formControlName="data">
    </mat-form-field>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="save" [mat-dialog-close]="true">
    </div>
  </form>
</div>
